*{
    margin: 0px;
    padding: 0px;
    font-family: "Proxima Nova Regular" Arial, Helvetica, sans-serif;
}
body{
    background-color: #2E3035;
}
#navbar{
    border: 1px solid black;
    height: 395px;
    background-image:url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
    background-size:cover;
    background-repeat: no-repeat;
}
#top-nav-div{
    height: 70px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
#top-left-logo-div{
    display: flex;
    align-items: center;
    height: 36px;
    width: 360px;
    /* border: 1px solid white; */
}
#new_post_btn{
    height: 35px;
    width: 121px;
    border-radius: 4px;
    background-color: #1BB76E;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 3px 20px;
}
#new_post_btn p{
    margin: 5px;
}
#plus_icon{
    height: 22px;
    width: 22px;
    background-color: white;
    color: #1BB76E;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-middle-input-div{
    height: 36px;
    width: 550px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: #454469;
    color: #d9d9e3;
    font-size: 16px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}
#top-middle-input-div input{
    width: 513px;
    height: 100%;
    background-color: transparent;
    border: 1px solid transparent;
    color: white;
    padding: 0px 10px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 18.4px;
}
#top-middle-input-div input:focus{
    outline: none;
}
#searchBtn{
    height: 36px;
    width: 37px;
    border: 1px solid transparent;
    color: white;
    background-color: transparent;
}
.material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' 200,
        'opsz' 48
}
#go_addFree_btn{
    height: 35px;
    width: 115px;
    border-radius: 3px;
    background-color: #6432F9;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    color: white;
}
#signup_btn{
    height: 35px;
    width: 115px;
    border-radius: 3px;
    background-color: #1BB76E;
    border: 1px solid transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    color: white;
}
#signin_btn {
    height: 35px;
    width: 105px;
    border-radius: 3px;
    border: 1px solid transparent;
    background-color: transparent;
    font-size: 15px;
    font-weight: 700;
    line-height: 35px;
    color: white;
}
#top-right-account-div{
    /* border: 1px solid white; */
    height: 36px;
    width: 360px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#Welcome_msg{
    font-size: 24px;
    letter-spacing: 0.4px;
    line-height: 27.6px;
    color: #AED8E5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    /* border: 1px solid black; */
    width: 280px;
    margin: 10px auto;
    height: 34px;
}
#moreTags{
    cursor: pointer;
}
#tag_div{
    height: 31px;
    width: 1708px;
    /* border: 1px solid white; */
    margin: auto;
    color: white;
    display: flex;
    box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 0px 10px;
}
#tag_div p{
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    letter-spacing: 1.3px;
    line-height: 16px;
    color: #A5A4B7;
}
#tag_card1,#tag_card2{
    /* border: 1px solid red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1708px;
    margin: 10px auto ;
}
#tag_card1 div:first-child{
    width: 270px;
}
.tag_card_item{
    /* border: 1px solid white; */
    height:150px;
    width: 130px;
    margin: 8px;
    border-radius: 4px;
    display: flex;
}
.tag_card_content_div{
    width: 100%;
    /* border: 1px solid white; */
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    align-self: flex-end;
    min-height: 60px;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 5px 0px;
}
.title{
    color: white;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.4px;
    line-height: 16.1px;
    margin: 5px 0px;
}
.count{
    color: rgb(234, 234, 234);
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.4px;
    line-height: 16.1px;
    margin: 5px 0px 12px;
}
#main_content{
    border: 1px dotted blue;
    margin: 10px auto;
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.main_card{
    border: 1px solid red;
    height: 240px;
    width: 240px;
    margin: 10px;
    display: flex;
}
.bottom_content{
    align-self: flex-end;
    border: 1px solid red;
    width: 100%;
    background-color: #4a4b4f;
    color: white;
    padding: 15px 15px 0px 15px;
}
.bottom_content_title{
    /* border: 1px solid black; */
    height: 40px;
    overflow: hidden;
}
.bottom_content_stat{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    margin: 5px 0px;
}
.bottom_content_stat div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* border: 1px solid black; */
    font-size: 80%;
}
.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 200,
        'GRAD' -25,
        'opsz' 48
}
